body{
	text-align: center;
	padding:0;
	background:url(../images/main-bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	background-color: #02050f;
	font-family: 'Montserrat';
	font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6, .title{
	font-family: 'Antonio';
	font-weight: bold;
    font-style: normal;
	text-transform: uppercase;
}

/* ~~~~~~~~ Header ++ ~~~~~~~~ */
.d-header{
	background: none;
	position: relative;
}
.d-header:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 0;
	-webkit-background: rgba(4,10,17,0.5);
	-moz-background: rgba(4,10,17,0.5);
	-ms-background: rgba(4,10,17,0.5);
	-o-background: rgba(4,10,17,0.5);
	background: rgba(4,10,17,0.5);
}