/** Discourse CSS by Nirwan Gogna - nirwangogna@gmail.com **/
@font-face {
 font-family: 'Xirod';
    src: url('$fontXirod');
    font-weight: normal;
    font-style: normal;
}
html{
	color: #88abc2;
}
body{
	text-align: center;
	padding:0;
	background:url($bodyBg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	background-color: #02050f;
	font-weight: normal;
    font-style: normal;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
    color: #88abc2;
    font-size: 13px;
    line-height: 28px;
}
body::before {
  display: none;
  content: image-urls();
}
body.docked{
	padding-top: 5.5rem;
}
body:after{
	content: "" !important;
	display: block !important;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background:url($bodyBgSmoke) no-repeat center 25rem;
	background-size: cover;
	background-attachment: fixed;
}

body > section{
	position: relative;
	z-index: 2;
}
h1,h2,h3,h4, .title{
	font-family: 'Oswald', sans-serif;
    font-style: normal;
	text-transform: uppercase;
}
p{
	font-family: 'Montserrat', sans-serif;
    color: #88abc2;
    font-size: 13px;
    line-height: 28px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], textarea, .d-editor-textarea-wrapper, .select-kit.combo-box .select-kit-header, div.ac-wrap{
	border:2px solid #434e6c !important;
    background-color: rgba(2, 6, 17, 0.57) !important;
	height: 42px !important;
	color:#ffffff !important;
	font-size: 1rem !important;
	padding-left:1rem !important;
	padding-right: 1rem !important;
}
.d-editor-textarea-wrapper{
	height: auto !important;
}
::-webkit-input-placeholder {
  color: #88abc2;
}
:-ms-input-placeholder {
  color: #88abc2;
}
::placeholder {
  color: #88abc2;
}
a{
	color:#d3e1eb;
}
a:visited {
    color: #88abc2;
}
.menu-panel li a.widget-link, .menu-panel li.heading a.widget-link{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
}
.menu-panel li a.widget-link:hover, .menu-panel li a.widget-link:focus, .menu-panel li.heading a.widget-link:hover, .menu-panel li.heading a.widget-link:focus{
	background: #b5dceb;
	color: #141d35;
}
/* Button Area ++ */
.btn{
	padding: .875rem 1.125rem !important;
    font-size: 0.875rem !important;
	box-shadow: none !important;
	outline: 0 !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-ms-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background: #b5dceb;
	color:#071421;
}
.btn.btn-icon-text:hover{
	background: #22a1d1;
	color:#071421;
}
.btn .d-icon{
	margin-right:.3125rem;
	color:#071421 !important;
}
.btn.no-text.btn-flat:not(.d-editor .btn.no-text){
	min-width: 0 !important;
	background: #22a1d1 !important;
	padding: .625rem !important;
    font-size: 1.2rem !important;
	
}
.btn.btn-primary:not(.btn-icon-text){
	font-family: 'Xirod', 'Montserrat', sans-serif;
	background: url($btnSend) no-repeat center center;
	background-size:cover;
	color:#071421;
	padding: 1.375rem 2rem !important;
	font-size: .75rem !important;
	max-width: 240px;
	min-width: 150px;
	text-transform: none;
	font-weight: 600;
}
.btn.btn-primary:not(.btn-icon-text):hover{
	background: url($btnSend) no-repeat center center;
	background-size:cover;
	color:#071421;
}
.btn.btn-default{
	background: #b5dceb;
	color:#071421;
	font-weight: 600;
}
.btn.btn-default:hover{
	background: #22a1d1;
	color:#071421;
}
.btn-flat{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-weight: 600;
}
.btn-flat:hover .d-button-label, .btn-flat:focus .d-button-label, .btn-flat:hover .d-icon, .btn-flat:focus .d-icon{
	color:#071421;
}
.btn-flat .d-icon {
    color: #b5dceb;
}
.btn.btn-small{
	padding: .875rem 1.25rem !important;
}
.btn.btn-large{
	padding: 1.375rem 2rem !important;
}
/* Button Area -- */


.alert{
	font-weight: 600;
}
.alert.alert-info{
	color:#071421 !important;
}
.alert.alert-info a{
	color:#22a1d1 !important;
}

/* ~~~~~~~~ Default -- ~~~~~~~~ */

/* ~~~~~~~~ Header ++ ~~~~~~~~ */
.d-header{
	position: relative;
	-webkit-background: rgba(4,10,17,0.8);
	-moz-background: rgba(4,10,17,0.8);
	-ms-background: rgba(4,10,17,0.8);
	-o-background: rgba(4,10,17,0.8);
	background: rgba(4,10,17,0.8);
}
.login-button, button.sign-up-button {
	  padding: 6px 10px;
}
.d-header #site-logo{
	max-width: 100%;
	height:3.5em;
	
}
.menu-panel li.category-link .badge-wrapper.bar, .menu-panel li.category-link .badge-wrapper.bullet{
	padding: 4px 8px;
}
.menu-panel, #reply-control, .select-kit.combo-box .select-kit-body, .select-kit.dropdown-select-box .select-kit-body, .search-container .search-advanced-sidebar .search-advanced-filters, .popup-menu, .selected-posts, #share-link, #d-popover, .ip-lookup .location-box{
	-webkit-box-shadow: 1px 1px 1px rgba(136,171,194,0.25);
	-moz-box-shadow: 1px 1px 1px rgba(136,171,194,0.25);
	-ms-box-shadow: 1px 1px 1px rgba(136,171,194,0.25);
	-o-box-shadow: 1px 1px 1px rgba(136,171,194,0.25);
	box-shadow: 1px 1px 1px rgba(136,171,194,0.25);
	background:url($kronoPattern) no-repeat center center;
	background-color:#02050f;
	background-size:100%;
	border: 1px solid #88abc2;
}
#reply-control{
	background-image: none;
}
.discourse-no-touch .btn:hover{
	background: #0088cc;
    color: #071421;
}
.discourse-no-touch .btn .d-icon, .discourse-no-touch .btn:hover .d-icon, .discourse-no-touch .btn.btn-hover .d-icon{
	color: #071421;
}
.d-editor-textarea-wrapper textarea{
	font-family: 'Montserrat', sans-serif;
	text-transform: none;
}
ul.d-header-icons > li + li{
	margin-left: 1.5rem;
}
.d-header-icons .icon{
	border-radius: 100%;
}
.d-header-icons .icon .d-icon{
	color:#d3e1eb;
	font-size: 1.125rem;	
}
.d-header-icons .icon:hover, .d-header-icons .icon:focus{
	background: #b5dceb;
}
.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon, .badge-wrapper.bullet .d-icon, .select-kit .select-kit-row:hover .discourse-tag, .select-kit .select-kit-row:hover .discourse-tag .discourse-tag-count{
	color: #071421;
}
.drop-down-mode .d-header-icons .active .icon{
	color: #071421;
    background: #22a1d1;
}
.drop-down-mode .d-header-icons .active .icon .d-icon, div.menu-links-header a:hover .d-icon, div.menu-links-header:focus a .d-icon, .selected-posts .btn{
	color: #071421;
}
.badge-wrapper.bullet:hover, .discourse-no-touch .sortable:hover{
	background: #b5dceb !important;
	color: #071421 !important;
}
.badge-wrapper.bullet:hover .badge-category .category-name{
	color: #071421 !important;
}
div.menu-links-header .fa, div.menu-links-header a, .select-kit .select-kit-row .discourse-tag, .select-kit .select-kit-row .discourse-tag-count{
	color:#d3e1eb;
}
.user-menu .notifications .read {
    background-color: #d3e1eb;
}
.user-menu .notifications .read a{
	color: #071421;
	font-weight:600;
	font-style: italic;
}
.user-menu .notifications .d-icon, .user-menu .notifications:hover .d-icon{
	color: #071421;
	margin-top: .5rem;
}
.user-menu .notifications li:hover, .user-menu .notifications li:focus{
	background: #88abc2;
}
.select-kit .select-kit-row.is-highlighted, .select-kit .select-kit-row:hover, .admin-controls .nav-pills>li a.active{
	background: #22a1d1;
	color: #071421;
}
.composer-popup{
	background: #d3e1eb;
}
.composer-popup p, .post-notice p, .post-notice .d-icon{
	color: #071421;
	font-weight: 600;
}
.composer-popup a{
	color:#22a1d1;
}
.composer-popup a.close{
	color:#5d7382; 
}
.notifications ul li a{
   color:#22a1d1 !important;
}
.notifications ul li{
 font-weight: 600;	
}
.user-menu .notifications li:hover, .user-menu .notifications li:focus{
	background: #a8ccdd;
}
/* ~~~~~~~~ Header -- ~~~~~~~~ */

/* ~~~~~~~~ Main Outlet ++ ~~~~~~~~ */

.top-lists{
	padding: 1rem 0;
}
#main-outlet{
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-background: rgba(13,37,61,0.5);
	-moz-background: rgba(13,37,61,0.5);
	-ms-background: rgba(13,37,61,0.5);
	-o-background: rgba(13,37,61,0.5);
	background: rgba(13,37,61,0.5);
	border: 1px solid #88abc2;
	padding: 1.875rem;
}
#main-outlet > *{
	position: relative;
	z-index: 2;
}
#main-outlet .list-controls{
	background: #071421;
	padding: 0px;
	margin: -1.875rem -1.875rem 0 -1.875rem;
	position: relative;
	z-index: 3;
	border-bottom: 1px solid #88abc2;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#main-outlet .list-container, #list-area{
	margin-left:-1.875rem;
	margin-right:-1.875rem;
}
.full-width, .top-lists, .footer-message{
	padding-left:1.875rem;
	padding-right:1.875rem;
}
.user-content{
	background: none;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .date-section{
	color:#ffffff;
}
div.education, .select-kit.dropdown-select-box.period-chooser .period-chooser-header .d-icon, .select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .top-date-string, .list-cell, .table-heading, .category-list td, .category-list th{
    color: #88abc2;
}
.list-controls .nav, .list-controls ol.category-breadcrumb, .list-controls .btn{
	margin-bottom: 0;
}
.nav-pills>li>a{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color:#ffffff;
	display: block;
	padding: 1rem 1.25rem;
	position: relative;
	background: transparent;
	-webkit-transition: 0.15s all ease 0s;
	-moz-transition: 0.15s all ease 0s;
	-ms-transition: 0.15s all ease 0s;
	-o-transition: 0.15s all ease 0s;
	transition: 0.15s all ease 0s;
}
.nav-pills>li>a:after{
	content: "";
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	right: 0;
	bottom: -10px;
	margin: auto;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top: 10px solid #22a1d1;
}
.nav-pills>li:hover > a {
    color: #071421;
    background: #88abc2;
}
.nav-pills>li.active>a{
	color: #071421;
    background: #22a1d1 !important;
	font-weight: bold;
}
.nav-pills>li.active>a:after{
	display: inline-block;
}
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
}
.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title{
	color: #85b7dd;
}
table.topic-list tr:hover .topic-list-main-link a.title, table.topic-list tr:hover .main-link a.title, table.topic-list tr:hover .latest-topic-list-item .main-link a.title, table th{
	color: #ffffff;
}
tr{
	-webkit-background: rgba(13,37,61,0.2);
	-moz-background: rgba(13,37,61,0.2);
	-ms-background: rgba(13,37,61,0.2);
	-o-background: rgba(13,37,61,0.2);
	background: rgba(13,37,61,0.2);
}
tr:nth-child(2n+1){
	-webkit-background: rgba(13,37,61,0.4);
	-moz-background: rgba(13,37,61,0.4);
	-ms-background: rgba(13,37,61,0.4);
	-o-background: rgba(13,37,61,0.4);
	background: rgba(13,37,61,0.4);
}
tr:hover{
	-webkit-background: rgba(13,37,61,0.8);
	-moz-background: rgba(13,37,61,0.8);
	-ms-background: rgba(13,37,61,0.8);
	-o-background: rgba(13,37,61,0.8);
	background: rgba(13,37,61,0.8);
}
th, #reply-control .reply-to .composer-action-title .action-title, .latest-topic-list .table-heading, .top-topic-list .table-heading{
	-webkit-background: rgba(7,20,33,0.5);
	-moz-background: rgba(7,20,33,0.5);
	-ms-background: rgba(7,20,33,0.5);
	-o-background: rgba(7,20,33,0.5);
	background: rgba(7,20,33,0.5);
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
}
th:first-of-type, td:first-of-type{
	padding-left:1.875rem !important;
}
.category-list .topics{
	text-align: center;
}
.badge-wrapper.bullet{
	padding: 4px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: #88abc2;
	color:#071421;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-ms-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	text-transform: capitalize;
}
.badge-wrapper.bullet span.badge-category{
	color:#071421;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.badge-wrapper.bullet span.badge-category-bg, .topic-list td, .discourse-tag, .discourse-tag.simple, .discourse-tag.simple:visited, .discourse-tag.simple:hover, .topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification), .topic-list .topic-excerpt{
	color:#88abc2;
}
tbody {
    border-top: 1px solid #88abc2;
}
tr {
    border-bottom: 0;
	-webkit-box-shadow: 0 1px .5px rgba(136,171,194,0.25);
	-moz-box-shadow: 0 1px .5px rgba(136,171,194,0.25);
	-ms-box-shadow: 0 1px .5px rgba(136,171,194,0.25);
	-o-box-shadow: 0 1px .5px rgba(136,171,194,0.25);
	box-shadow: 0 1px .5px rgba(136,171,194,0.25);
}
#topic-title h1 a{
	color:#ffffff;
}
img.avatar{
	border: 1px solid #88abc2;
}
table.topic-list th + th, table.topic-list td + td{
	-webkit-box-shadow: 1px 0px .5px rgba(136,171,194,0.25);
	-moz-box-shadow: 1px 0px .5px rgba(136,171,194,0.25);
	-ms-box-shadow: 1px 0px .5px rgba(136,171,194,0.25);
	-o-box-shadow: 1px 0px .5px rgba(136,171,194,0.25);
	box-shadow: 1px 0px .5px rgba(136,171,194,0.25);
}
table.topic-list .main-link .link-top-line{
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}
table.topic-list .main-link .link-bottom-line{
	display: inline-block;
	vertical-align: middle;
}
.badge-category-bg{
	display: none !important;
}
.category-general .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="general"] .badge-wrapper.bullet{
	background: #70a0C0;	
}
.category-junk .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="junk"] .badge-wrapper.bullet{
	background:#AB9364;	
}
.category-blog .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="blog"] .badge-wrapper.bullet{
	background:#0088CC;	
}
.category-discourse .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="discourse"] .badge-wrapper.bullet{
	background:#00B355;	
}
.category-movies .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="movies"] .badge-wrapper.bullet{
	background:#B22222;	
}
.category-tech .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="tech"] .badge-wrapper.bullet{
	background: #444;
}
.category-tech .badge-wrapper.bullet span.badge-category, ul.select-kit-collection > li[data-name="tech"] .badge-wrapper.bullet span.badge-category{
	color: #ffffff !important;
}
.category-gaming .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="gaming"] .badge-wrapper.bullet{
	background: #800080;
}
.category-gaming .badge-wrapper.bullet span.badge-category, ul.select-kit-collection > li[data-name="gaming"] .badge-wrapper.bullet span.badge-category{
	color: #ffffff !important;
}
.category-school .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="school"] .badge-wrapper.bullet{
	background:  #D2691E;
}
.category-videos .badge-wrapper.bullet, ul.select-kit-collection > li[data-name="videos"] .badge-wrapper.bullet{
	background:  #258af1;
}
.category-school-theme-assignments .badge-wrapper.bullet{
	background: #d2691e;
	background: -moz-linear-gradient(left,  #d2691e 0%, #0088cc 100%);
	background: -webkit-linear-gradient(left,  #d2691e 0%,#0088cc 100%);
	background: linear-gradient(to right,  #d2691e 0%,#0088cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2691e', endColorstr='#0088cc',GradientType=1 );
}
.category-list tbody .category h3 a[href]{
	color:#ffffff !important;
}
.topic-statuses .topic-status{
	color:#22a1d1;
}
.list-controls .d-editor-textarea-wrapper, .list-controls .select-kit.combo-box .select-kit-header{
	height: auto !important;
}
ol.category-breadcrumb{
	margin: 7px 10px;
}
.open .grippie{
	background: #22a1d1;
}
.open .grippie:before{
	border-top-color: #071421;
}
#reply-control .mini-tag-chooser{
	background: none;
}
.select-kit .select-kit-collection{
	-webkit-background: rgba(13,37,61,0.5);
	-moz-background: rgba(13,37,61,0.5);
	-ms-background: rgba(13,37,61,0.5);
	-o-background: rgba(13,37,61,0.5);
	background: rgba(13,37,61,0.5);
}
.select-kit.combo-box.category-chooser .select-kit-row .category-desc{
	color:#88abc2;
}
.select-kit.combo-box.category-chooser .select-kit-row .topic-count, a.topic-featured-link{
	color:#d3e1eb;
}
.select-kit .select-kit-row.is-highlighted .category-desc, .select-kit .select-kit-row:hover .category-desc, .select-kit .select-kit-row.is-highlighted .topic-count, .select-kit .select-kit-row:hover .topic-count, #reply-control .reply-to .d-icon, .select-kit.dropdown-select-box .select-kit-row .texts{
	color:#071421 !important;	
}
.styleguide .styleguide-menu ul li.styleguide-heading{
	font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-transform: uppercase;
	color:#ffffff;
	font-size: 20px;
}
.styleguide .styleguide-menu ul li a{
	font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 600;
	color:#88abc2;
	text-transform: uppercase;
}
.styleguide .styleguide-menu ul li a:hover{
	color:#ffffff;
}
.badge-notification{
	background:#d3e1eb;
	color:#071421; 
	font-weight: 600;
}
.badge-notification:hover{
	color:#071421;
	background:#22a1d1;
}
.search-container .search-advanced-sidebar .search-advanced-title{
	font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-transform: uppercase;
	font-size: 16px;
	color:#071421;
	background:#22a1d1;
}
/* ~~~~~~~~ Main Outlet -- ~~~~~~~~ */

/* ~~~~~~~~ Admin Panel Setting ++ ~~~~~~~~ */
.boxed.white, .admin-detail{
	background: none;
}
.alert {
    margin-bottom: 30px;
}
.settings .setting .desc, .admin-report .header .breadcrumb .report .report-url{
	color:#88abc2;
}
.admin-controls{
	background: none;
	border-top:2px solid #434e6c;
	border-bottom:2px solid #434e6c;
}
.admin-controls nav{
	background: none;
}
.admin-controls .nav-pills>li>a{
	font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-size: .875rem;
	font-weight: 600;
}

.admin-controls nav:before, .admin-controls nav:after{
	display: none;
}
.admin-interface #main-outlet{
	padding: 0;
}
.admin-customize .themes-list-container .themes-list-item .info, .content-list ul li a, .admin-customize .color-schemes li .fa, .user-badge, #user-card .sixth-row .badge-section .more-user-badges a{
	color:#ffffff;
}
.admin-customize .themes-list-container .themes-list-item:not(.inactive-indicator):not(.selected):hover, .content-list ul li a:hover{
	color:#071421;
	background:#22a1d1;
}
.content-list ul li a:hover .fa{
	color:#071421;
}
.admin-contents table tr:hover{
	-webkit-background: rgba(13,37,61,0.8);
	-moz-background: rgba(13,37,61,0.8);
	-ms-background: rgba(13,37,61,0.8);
	-o-background: rgba(13,37,61,0.8);
	background: rgba(13,37,61,0.8);
}
.dashboard .section .section-title h2 a, .dashboard-next .section .section-title h2 a{
	color:#ffffff;
}
.bootbox.modal{
	 -webkit-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
    -moz-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
    -ms-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
    -o-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
    box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
    background: url($kronoPattern) no-repeat center center;
    background-color: #02050f;
    background-size: 100%;
    border: 1px solid #88abc2;
	padding: 1.875rem;
}
.bootbox.modal .modal-footer a.btn-primary{
	color:#071421;
}
.user-main .about.collapsed-info .details{
    border-bottom: 2px solid #434e6c;
    background: none;
}
.user-primary-navigation{
	background: #071421;
	border-color:#0b2035;
}
.user-primary-navigation .main-nav{
	margin-bottom: 0;
}
.select-kit .select-kit-body, .select-kit.multi-select{
	background: #071421;
	border-color:#0b2035;
}
.select-kit.multi-select .multi-select-header{
	background: none;
	border:0;
}
.select-kit.multi-select .choices{
	margin: 0;
}
.user-stream .item, .user-stream .user-stream-item{
	background: none;
	border-color:0;
}
.user-activity-page p{
	color:#88abc2 !important;
}

/* ~~~~~~~~ -- Admin Panel Setting -- ~~~~~~~~ */

/* ~~~~~~~~ Login Modules ++ ~~~~~~~~ */
.modal-backdrop.in{
	display: none !important;
}
.modal-inner-container{
	-webkit-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
	-moz-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
	-ms-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
	-o-box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
	box-shadow: 2px 2px 8px rgba(136,171,194,0.5);
	background:url($kronoPattern) no-repeat center center;
	background-color:#02050f;
	background-size:100%;
	border: 1px solid #88abc2;
	padding: 1.875rem;
}
form table tr{
	background: none !important;
}
.modal-inner-container form a, .create-account .disclaimer, button#login-link, button#new-account-link, .modal tr.instructions label, #login-form a{
	color:#88abc2;
}
.d-modal.create-account .login-form::after, .d-modal.create-account .login-form::before{
	display: none;
}
form td{
	padding-left:0 !important;
}
form td label{
	padding-left:0 !important;
	text-transform: uppercase;
	color:#ffffff;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
}
.fixed-modal{
	-webkit-background: rgba(2,2,15,0.8);
	-moz-background: rgba(2,2,15,0.8);
	-ms-background: rgba(2,2,15,0.8);
	-o-background: rgba(2,2,15,0.8);
	background: rgba(2,2,15,0.8);
}
/* ~~~~~~~~ -- Login Modules -- ~~~~~~~~ */

/* ~~~~~~~~ ++ Inner Post Styling ++ ~~~~~~~~ */
.names span a{
	color:#22a1d1;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
}
.extra-info-wrapper .topic-link{
	color:#ffffff;
}
nav.post-controls button.create, nav.post-controls button.create .d-icon, .extra-info-wrapper .topic-header-extra .discourse-tags, .extra-info-wrapper .discourse-tag{
	color:#88abc2 !important;
}
nav.post-controls button.d-hover, nav.post-controls button:focus {
    background: #22a1d1;
    color:#071421;
}
nav.post-controls button.d-hover .d-icon, nav.post-controls button:focus .d-icon, .extra-info-wrapper .badge-wrapper.bullet span.badge-category, .extra-info-wrapper .badge-wrapper.bar span.badge-category, .extra-info-wrapper .badge-wrapper.none span.badge-category{
	color:#071421 !important;
}
.topic-body{
	-webkit-box-shadow: 1px 1px 1px rgba(136,171,194,0.5);
	-moz-box-shadow: 1px 1px 1px rgba(136,171,194,0.5);
	-ms-box-shadow: 1px 1px 1px rgba(136,171,194,0.5);
	-o-box-shadow: 1px 1px 1px rgba(136,171,194,0.5);
	box-shadow: 1px 1px 1px rgba(136,171,194,0.5);
	-webkit-transition: 0.2s all ease-in 0s;
	-moz-transition: 0.2s all ease-in 0s;
	-ms-transition: 0.2s all ease-in 0s;
	-o-transition: 0.2s all ease-in 0s;
	transition: 0.2s all ease-in 0s;
	-webkit-background:rgba(2,2,15,0.5);
	-moz-background:rgba(2,2,15,0.5);
	-ms-background:rgba(2,2,15,0.5);
	-o-background:rgba(2,2,15,0.5);
	background:rgba(2,2,15,0.5);
	border: 1px solid #88abc2;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 1.25rem;
	color:#88abc2;
}
.topic-post:hover .topic-body{
	-webkit-background:rgba(2,2,15,0.75);
	-moz-background:rgba(2,2,15,0.75);
	-ms-background:rgba(2,2,15,0.75);
	-o-background:rgba(2,2,15,0.75);
	background:rgba(2,2,15,0.75);
	-webkit-box-shadow: 3px 3px 12px rgba(136,171,194,0.5);
	-moz-box-shadow: 3px 3px 12px rgba(136,171,194,0.5);
	-ms-box-shadow: 3px 3px 12px rgba(136,171,194,0.5);
	-o-box-shadow: 3px 3px 12px rgba(136,171,194,0.5);
	box-shadow: 3px 3px 12px rgba(136,171,194,0.5);
}
.topic-avatar{
	border: 0;
}
.post-notice{
	background: #22a1d1;
	color:#071421;
}
.post-notice > .d-icon{
	color:#071421;
}
.title-wrapper .topic-statuses .d-icon{
	color:#22a1d1;
}
.user-main .about .details{
	background: none;
	border-bottom: 2px solid #434e6c;
}
.user-main .about .secondary dt, .user-secondary-navigation .nav-stacked a, .user-preferences .instructions{
	color:#88abc2;
}
.user-main .about .secondary dd{
	color:#ffffff;
}
.user-main .about .details .primary .primary-textual h1{
	color:#ffffff;
}
.user-main .about .details h1 .d-icon, .categories-list .category h3 .d-icon, .topic-list th button .d-icon, .topic-list-icons .d-icon-thumbtack, .latest-topic-list .d-icon-thumbtack, .top-topic-list .d-icon-thumbtack, .topic-list .d-icon-thumbtack{
	color:#22a1d1;
}
.modal-header{
	background: none;
	border:2px solid #434e6c;
}
.alert .close{
	color:#071421 !important;
	opacity: 0.7;
}
.alert .close{
	opacity: 1;
}
#reply-control button.btn-default[title="Reply"]{
	padding: 0 !important;
}
#reply-control button.btn-default[title="Reply"] .d-icon{
	font-size: 1.75rem;
	color:#ffffff !important;
}
#reply-control .reply-area button.btn-default[title="Reply"]:hover{
	background:#22a1d1 !important;
	color:#071421;
}
#reply-control button.btn-default[title="Reply"]:hover .d-icon{
	color:#071421 !important;
}
#reply-control button.toggle-fullscreen .d-icon, #reply-control button.toggler .d-icon{
	color:#88abc2 !important;
}
.d-editor-button-bar .btn svg{
	color:#88abc2 !important;
}
.d-editor-button-bar .btn:hover svg{
	color:#071421 !important;
}
.d-editor-button-bar .btn[title="Options"] svg{
	color:#071421 !important;
}
.select-kit.dropdown-select-box.toolbar-popup-menu-options .select-kit-row{
	background: #88abc2;
	color:#071421;
}
.select-kit.dropdown-select-box.toolbar-popup-menu-options .select-kit-row *{
	color:#071421 !important;
}
ul.select-kit-collection > li .icons svg{
	color:#22a1d1;
}
ul.select-kit-collection > li .texts .name{
	color:#ffffff !important;
}
ul.select-kit-collection > li .texts .desc{
	color:#88abc2 !important;
}
ul.select-kit-collection > li.is-selected{
	background: #b5dceb !important;
}
ul.select-kit-collection > li:hover .icons *, ul.select-kit-collection > li:hover .texts *, ul.select-kit-collection > li.is-selected .icons *, ul.select-kit-collection > li.is-selected .texts *, ul.select-kit-collection > li.is-highlighted .icons *, ul.select-kit-collection > li.is-highlighted .texts *{
	color:#071421 !important;
}
.select-kit.dropdown-select-box.toolbar-popup-menu-options .select-kit-row:hover {
	background: #22a1d1 !important;
	color:#071421 !important;
}
.topic-map, .modal .nav, .uploaded-image-preview{
	background: #071421;
	border-color:#0e2944;
}
.topic-map section{
	border-color:#0b2035;
}
.topic-map .buttons .btn{
	background: #22a1d1;
	color:#071421;
	border-color: transparent;
}
.topic-map .buttons .btn:hover{
	background: #b5dceb;
	color:#071421;
}
.topic-map .map .number{
	color:#22a1d1;
}
.topic-map h4, .topic-map h3{
	color:#88abc2;
}
.input-prepend .add-on, .input-append .add-on, .user-stream .item, .user-stream .user-stream-item, #user-card .card-content, #group-card .card-content{
	background: #071421;
	border-color:#0e2944;
	color:#88abc2;
}
.badge-card{
	background: #071421;
	border: 2px dashed #0e2944;
}
.user-badge, #user-card .sixth-row .badge-section .more-user-badges a{
	background: #071421;
	border: 1px dashed #0e2944;
}
aside.quote .title{
	background: #071421;
	border: 1px dashed #0e2944;
	border-left: 5px solid #88abc2;
	border-bottom: 0;
	color: #ffffff;
}
blockquote{
	border: 1px dashed #0e2944;
	border-left: 5px solid #88abc2;
	border-top: 0;
	background: #071421;
}
.post-notice{
	margin-bottom: 15px;
}


/* ~~~~~~~~ -- Inner Post Styling -- ~~~~~~~~ */

/* ~~~~~~~~ Footer ++ ~~~~~~~~ */
.kronoFooter{
	text-align: center;
	margin-top: 3.125rem;
	position: relative;
	padding: 3.125rem 0 1.1875rem 0;
	background: rgba(2,2,5,1);
	-webkit-box-shadow: 0 -1px 1px rgba(136,171,194,0.9);
	-moz-box-shadow: 0 -1px 1px rgba(136,171,194,0.9);
	-ms-box-shadow: 0 -1px 1px rgba(136,171,194,0.9);
	-o-box-shadow: 0 -1px 1px rgba(136,171,194,0.9);
	box-shadow: 0 -1px 1px rgba(136,171,194,0.9);
}
.kronoFooter .row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
.kronoFooter .row .col-sm-4{
	-ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
}
.kronoFooter .row .col-sm-12{
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
}
.footerCol h4{
	color:#ffffff;
	font-size: 1.3125rem;
	font-weight: normal;
}
.kronoFooter .contactId{
	margin: 1rem 0;
}
ul.socialLinks{
	margin: 0;
	padding: 0;
	position: relative;
}
ul.socialLinks li{
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}
ul.socialLinks li + li{
	margin-left: 1rem;
}
.copyRight{
	position: relative;
	padding-bottom: 1rem;
	z-index: 2;
	text-align: center;
	-webkit-background: rgba(2,2,5,1);
	-moz-background: rgba(2,2,5,1);
	-ms-background: rgba(2,2,5,1);
	-o-background: rgba(2,2,5,1);
	background: rgba(2,2,5,1);
}
/* ~~~~~~~~ -- Footer -- ~~~~~~~~ */


/* ~~~~~~~~ ++ Mobile Settings ++ ~~~~~~~~ */
@media screen and (max-width: 850px){	
	.btn.btn-primary{
		min-width:0 !important;
	}	
	button#create-topic span {
		display: none;
	}
	.navigation-container ol, .navigation-container ul{
		margin-bottom: 10px;
	}
	#reply-control .d-editor-preview img:not(.thumbnail), .cooked img:not(.thumbnail){
		max-width: 100%;
	}	
}

#topic-progress{
	width: 3rem;
	background: #b5dceb;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}
#topic-progress .nums span, #topic-progress h4{
	color:#071421;
}
#topic-progress .bg{
	background: #22a1d1;
}
#topic-progress-wrapper .topic-admin-menu-button-container{
	left: -60px;
}
#topic-progress-wrapper.docked{
	bottom: 0 !important;
	position: fixed !important;
}

/* ~~~~~~~~ -- Mobile Settings-- ~~~~~~~~ */


/* ~~~~~~~ ++ Color Palette Styling ++ ~~~~~~~~ */
.topic-map .map button .d-icon, .topic-map .map button:hover .d-icon, .select-kit.dropdown-select-box .select-kit-row .texts .desc, .select-kit.dropdown-select-box .select-kit-row .texts .name, .btn-danger[href], .reviewable-item .reviewable-actions .reviewable-action.delete-user[href], .reviewable-item .reviewable-actions .reviewable-action-dropdown.delete-user[href], .reviewable-akismet-post .confirm-delete[href], .reviewable-akismet-post .reject-user-delete[href], .reviewable-akismet-user .confirm-delete[href], .reviewable-akismet-user .reject-user-delete[href], .user-theme-creator .user-theme-list ul li:hover a, .user-theme-creator .user-theme-list ul li.active a, #d-popover .locale-dates-previews .preview.current *, .pref-auth-tokens .auth-token-icon, .user-menu .notifications li {
	color:#071421;
}
#reply-control .save-or-cancel .cancel, .latest-topic-list-item .topic-stats, #topic-footer-buttons p, div.poll li[data-poll-option-id], .modal.has-tabs .modal-tabs .modal-tab.is-active.single-tab, .modal-header .modal-close .close, .topic-meta-data .post-info a, .timeline-container .topic-timeline .now-date, .timeline-container .topic-timeline .timeline-ago, .timeline-container .topic-timeline .start-date, .badge-posts[href], .select-kit .d-icon, .user-theme-creator .user-theme-list ul li a, .pref-auth-tokens .auth-token-second, .cooked p span, .discourse-local-date.cooked-date .d-icon, .badge-card .badge-contents .badge-info, .user-info.medium.badge-info .granted-on, .user-info .user-detail .name, .show-badge-details .grant-info-item, .pref-auth-tokens .auth-token-second, .stats-section .label, .topic-map .participants .user .user-link, .topic-map .participants .user .group-link, .post-notice.old .d-icon, .names .fa, #user-card h3.email, #user-card h3 .desc, #user-card h3 a, #group-card h3.email, #group-card h3 .desc, #group-card h3 a, #user-card h3, #group-card h3, .names .new_user a, .names .user-title, .names .user-title a, .topic-body .reply-to-tab, .user-menu .notifications .d-icon, .post-links-container ul li a[href], div.poll .poll-info, table.group-members tr td{
	color:#88abc2;
}
.user-secondary-navigation .nav-stacked a.active, .user-secondary-navigation .nav-stacked a.active{
	background:#22a1d1;
	color:#071421;
}
.user-preferences .static, .user-theme-creator .user-theme-list .user-theme-list-heading, .badge-card .badge-contents .badge-link, .user-info .user-detail .username a, section.details h1, #user-card h1 a, #user-card h2 a, #group-card h1 a, #group-card h2 a, .timeline-container.timeline-fullscreen .topic-timeline .title a{
	color:#ffffff;
}
div.poll .poll-container .poll-results-number-rating, .pref-auth-tokens .auth-token-icon, .badge-card .grant-count, .value .number, .private-message-glyph, #user-card h1 .d-icon, #group-card h1 .d-icon{
	color:#22a1d1;
}
#d-popover .d-popover-top-arrow {
	border-color: transparent transparent #88abc2;
}
#d-popover .d-popover-top-arrow:after {
	border-color: transparent transparent #071421;
}
div.poll .results .bar, .post-notice.old{
	background-color: #88abc2;
}
#reply-control.draft .composer-controls .d-icon, #reply-control.saving .composer-controls .d-icon{
	color:#071421 !important;
}
.timeline-container.timeline-fullscreen{
	background-color: #071421;
}

/* ~~~~~~~ -- Color Palette Styling -- ~~~~~~~~ */

